.title{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px;
    color: var(--pf-pc);
    font-size: 50px;
    font-weight: bold;
}
.certificateProof{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    width: 100%;
    justify-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    gap: 1rem;
}
.qaCert{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 250px;
}
